body {
  background: url(./images/background.png) no-repeat center center fixed; 
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden
}

.container {
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
}

.child-1 {
  width: 60%;
  margin-right: 2%;
  padding: 2vh 2vw;
}

.child-2 {
  width: 40%;
  margin-left: 2%;
  padding: 2vh 2vw;
}

.random {
  padding-top: 2vh;
  padding-bottom: 4vh;
  font-size: large;
}

.favourites {
  padding-left: 2vw;
  color: darkred;
}

.favourites-list {
  margin-top: 3vh;
  height: 70vh;
}

.favourites, ul, li {
  list-style-type: none;
  margin-bottom: 2vh;
  margin-left: -2.1vh;
}

button {
	box-shadow:inset 0px 1px 0px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #8c9797 100%);
	background-color: lightgrey;
	border-radius:6px;
	border:1px solid grey;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  font-family: 'Mochiy Pop P One', sans-serif;
	text-shadow:0px 1px 0px #2b665e;
  margin-top: 2vh;
}
button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
button:active {
	position:relative;
	top:1px;
}

.search-button {
  margin-left: 1vw;
}

.favourite-button {
  margin-top: 4vh;
}

.input {
  width: 40%;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-right: 0.5vw;
}

.search-joke {
  margin-top: 4vh;
  /* margin-left: 0.5vw; */
}

.clear-results {
  margin-left: -1vw;
}





